@import "./constant.scss";

.bg-primary {
  background: #f8f7f1;
}

.innerWidth {
  @media (min-width: $xxl) {
    max-width: 1280px;
    margin: auto;
  }

  width: 100%;
}

.paddings {
  @media (min-width: #{$xsm-from}) and (max-width: #{$xsm-to}), (max-width: $sm) {
    padding: 1.7rem;
  }

  @media (min-width: $xl), (min-width: $md) {
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
  }

  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.xPaddings {
  @media (min-width: #{$xsm-from}) and (max-width: #{$xsm-to}), (max-width: $sm) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  padding-left: 1.5rem;
  /* 24px */
  padding-right: 1.5rem;
  /* 24px */
}

.yPaddings {
  @media (min-width: #{$xsm-from}) and (max-width: #{$xsm-to}), (max-width: $sm) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  @media (min-width: $xl) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  padding-top: 3rem;
  padding-bottom: 3rem;
}

.topPaddings {
  @media (min-width: #{$xsm-from}) and (max-width: #{$xsm-to}), (max-width: $sm) {
    padding-top: 4rem;
  }

  @media (min-width: $xl) {
    padding-top: 2rem;
  }

  padding-top: 3rem;
}

.bottomPaddings {
  @media (min-width: #{$xsm-from}) and (max-width: #{$xsm-to}), (max-width: $sm) {
    padding-bottom: 4rem;
  }

  @media (min-width: $xl) {
    padding-bottom: 2rem;
  }

  padding-bottom: 3rem;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexStart {
  display: flex;
  justify-content: start;
  align-items: center;
}

.flexEnd {
  display: flex;
  justify-items: end;
}

.primaryText {
  @media (min-width: #{$xsm-from}) and (max-width: #{$xsm-to}), (max-width: $sm), (max-width: $md) {
    font-size: 1.7rem;
  }
  font-size: 2.5rem;
  font-weight: bold;
}

.secondaryText {
  @media (min-width: #{$xsm-from}) and (max-width: #{$xsm-to}), (max-width: $sm), (max-width: $md){
    font-size: 0.7rem;
    line-height: 30px;
  }
  line-height: 40px;
  font-size: 1.2rem;
  font-weight: 500;
}
.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}
